{>base/}

{<body}
  <h2>Log in</h2>

  {?errors}
    <p>Login failed. Too bad.</p>
    <ul class="errors">
      {#errors}
        <li>{.|s}</li>
      {/errors}
    </ul>
  {/errors}

  <form method="post" action=".">

  <p><label for="username">Username:</label>
  <br />
  <input type="text" name="username" id="username" value="{username}" size="30" />
  </p>

  <p><label for="password">Password:</label>
  <br />
  <input type="password" name="password" id="password" size="30" /></p>

  <input type="hidden" name="next" id="next" value="{next}" />

  <input type="submit" value="Log in" />

  </form>

  <h2>Places of disinterest</h2>

  {#navigation}
    {#a url="/register/?next={next}"}I don't have an account.{/a}
    {#a url="/"} I feel sick. Take me home.{/a}
  {/navigation}
{/body}
