<h2>What is this crap?</h2>

<h3>The short answer</h3>

<p>This website is a bit of fun to allow people to randomly generate
abusive sentences, and share them with people they love/hate.</p>

<h3>The long answer</h3>

<p>(Or: a short history of Abuse)</p>

<p>When programming in Java some time ago, I used the mock object framework
<a href="http://www.jmock.org/">JMock</a>. Some time later, I began programming
in Python in earnest. However, I never found a mock object framework that I liked --
they were all too complex, too inconsistent or just didn't fit with my
style of thinking. So, I wrote my own mock object framework for Python:
<a href="http://www.zwobble.org/projects/funk/">Funk</a>.</p>

<p>While writing Funk, one of my non-programmer friends asked me what I was working
on. When I told him it was a mocking framework, he assumed this was a program
that would mock the user. This sounded more fun than what I was actually working on, so I wrote
<a href="http://www.zwobble.org/projects/abuse/">Abuse</a>, a program that
randomly generates abusive sentences based on a context-free grammar.</p>

<p>Some friends of mine seemed to enjoy writing abusive sentences rather a lot,
so this website was born to allow them to spew venom at their heart's content.
I also used the writing of this website as an excuse to use
<a href="http://nodejs.org/">Node.js</a> and <a href="http://redis.io/">Redis</a>.</p>

{@|nav start}
  {@|nav / I feel sick. Take me home.}
{@|nav end}
