meta: []

<!DOCTYPE HTML>

<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>[title|html]</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="/static/js/abuse/browser.js"></script>
    <script type="text/javascript" src="/static/js/abuse/abuse.js"></script>
    [.repeated section include-js]
      <script type="text/javascript" src="[@|html-attr-value]"></script>
    [.end]

    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    [.repeated section include-css]
      <link rel="stylesheet" type="text/css" href="[@|html-attr-value]" />
    [.end]
  </head>

  <body>
    <div id="top">
      <div id="header">
        <h1><a href="/">Abuse.</a></h1>
        <p>Because everybody deserves to feel miserable.
      </div>
      <div id="accountControls">
        <ul>
          [.section user]
            <li>Logged in as [username|html].</li>
            <li><a href="/logout/">Logout</a></li>
          [.or]
            <li><a href="/login/">Login</a></li>
            <li><a href="/register/">Register</a></li>
          [.end]
        </ul>
      </div>
    </div>
    <div id="body">
      [body|raw]
    </div>
  </body>

</html>

