<!DOCTYPE HTML>

<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>Abuse</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="/static/js/abuse/browser.js"></script>
    <script type="text/javascript" src="/static/js/abuse/abuse.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  </head>

  <body>
    <div id="top">
      <div id="header">
        <h1><a href="/">Abuse.</a></h1>
        <p>Because everybody deserves to feel miserable.
      </div>
      <div id="accountControls">
        <ul>
          {#user}
            <li>Logged in as {username}.</li>
            <li><a href="/logout/">Logout</a></li>
          {:else}
            <li><a href="/login/">Login</a></li>
            <li><a href="/register/">Register</a></li>
          {/user}
        </ul>
      </div>
      <div style="clear:both;"></div>
    </div>
    <div id="body">
      {+body:page/}
    </div>
  </body>

</html>

