<h2>How {title|html} thinks:</h2>

{.section successfulSave}
  <p>Grammar successfully saved.</p>
{.end}

{.section failedSave}
  <p>Failed to save grammar -- unable to generate any complete sentences.</p>
{.end}

<noscript>
{.section warnings}
  <h3>Warnings</h3>
  <ul>
    {.repeated section @}
      <li>{@|html}</li>
    {.end}
  </ul>
{.end}
</noscript>

<form action="." method="post">
  <textarea rows="15" cols="80" style="display:block" name="grammarBody" id="grammarBody">{grammar|html}</textarea>
  <input type="submit" value="Save grammar" />
</form>

<div id="warnings" style="display:none">
  <h3>Warnings</h3>
  <ul id="warningsList">
  </ul>
</div>

<h2>Places of disinterest</h2>

<ul class="links">
  <li><a href="/"><span class="linkArrow">&gt;</span>I feel sick. Take me home.</a></li>
</ul>

{# TODO: find a better way of incorporating JS }

<script type="text/javascript" src="/static/js/grammars/edit.js"></script>
