{>base/}

{<body}
  <h2>How {title} thinks:</h2>

  {?successfulSave}
    <p>Grammar successfully saved.</p>
  {/successfulSave}

  {?failedSave}
    <p>Failed to save grammar -- unable to generate any complete sentences.</p>
  {/failedSave}

  <noscript>
  {?warnings}
    <h3>Warnings</h3>
    <ul>
      {#warnings}
        <li>{.}</li>
      {/warnings}
    </ul>
  {/warnings}
  </noscript>

  <form action="." method="post">
    <textarea rows="15" cols="80" style="display:block" name="grammarBody" id="grammarBody">{grammar}</textarea>
    <input type="submit" value="Save grammar" />
  </form>

  <div id="warnings" style="display:none">
    <h3>Warnings</h3>
    <ul id="warningsList">
    </ul>
  </div>

  <h2>Places of disinterest</h2>

  {#navigation}
    {#a url="/"}I feel sick. Take me home.{/a}
  {/navigation}

  {! TODO: find a better way of incorporating JS !}

  <script type="text/javascript" src="/static/js/grammars/edit.js"></script>
{/body}
