{>base/}

{<body}
  <h2>{title} says:</h2>

  <blockquote><p>{message}</p></blockquote>

  <p><a href="{sentenceUrl}">Permanent link</a></p>

  <h2>Places of disinterest</h2>

  {#navigation}
    {?isOldRevision}
      {#a url="/grammars/{name}/"}This is old news. What is {title} saying these days?{/a}
    {/isOldRevision}
    {#a url=grammarUrl}What else has {title} got?{/a}
    {#a url="{grammarUrl}source/"}But how does {title} think?{/a}
    {#a url="/grammars/"}Who cares about {title}? Who else is there?{/a}
    {#a url="/edit-my-grammar/"}You call that abuse? Let me show you how it's done.{/a}
    {#a url="/"}I feel sick. Take me home.{/a}
  {/navigation}
{/body}
