<h2>{title|html} says:</h2>

<blockquote><p>{message|html}</p></blockquote>

<h2>Places of disinterest</h2>

<ul class="links">
  <li><a href="."><span class="linkArrow">&gt;</span>What else has {title|html} got?</a></li>
  <li><a href="./source/"><span class="linkArrow">&gt;</span>But how does {title|html} think?</a></li>
  <li><a href="/grammars/"><span class="linkArrow">&gt;</span>Who cares about {title|html}? Who else is there?</a></li>
  <li><a href="/edit-my-grammar/"><span class="linkArrow">&gt;</span>You call that abuse? Let me show you how it's done.</a></li>
  <li><a href="/"><span class="linkArrow">&gt;</span>I feel sick. Take me home.</a></li>
</ul>
