body {
    font-family: "dejavu sans", verdana, sans-serif;
    margin: 0;
}

#top {
    border-bottom: #C22121 2px solid;
    color: #222;
    background-color: #f0eeee;
    margin: 0;
    padding: 0.5em 0.5em 0.4em 0.5em;
    overflow: auto;
}

#header {
    float: left;
}

#header h1, #header h1 a {
    font-weight: normal;
    margin: 0;
    color: #222;
    text-decoration: none;
}

#header p {
    margin: 0;
    font-size: 0.8em;
}

#accountControls {
    float: right;
    line-height: 1.5
}

#accountControls ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

#accountControls a, #accountControls a:visited {
    color: #003399;
}

#body {
    padding: 0 1em 0 1em;
}

body {
    background-color: #fff;
    color: #000;
}

h2 {
    font-weight: normal;
/*
    border-bottom: #FFB733 2px solid;
*/
}

ul.links {
    margin: 1em;
    padding: 0;
    border-top: #FFB733 1px solid;
    border-bottom: #FFB733 2px solid;
}

.links li {
    margin: 0;
    list-style-type: none;
    border-top: #FFB733 1px solid;
}

.links li a {
    display: block;
    text-decoration: none;
    background-color: #f4f3f0;
    color: #222;
    padding: 0.5em 1em;
}

.links li a:hover {
    background-color: #FFD385;
    color: #222;
}

.linkArrow {
    display: block;
    float: left;
    border: 0;
    padding-right: 1em;
    font-size: 0.8em;
    margin-top: 0.1em;
/*
    font-family: "Trebuchet ms";
*/
    font-weight: bold;
    color: #FFB733;
}

pre {
    margin: 1em;
    padding: 1em;
    background-color: #f1f4f4;
    color: #000;
    border-color: #047878;
    border-style: solid;
    border-width: 2px 0;
}

blockquote {
    margin: 1em;
    padding: 1em;
    background-color: #f4f2f0;
    color: #000;
    border-color: #F57336;
    border-style: solid;
    border-width: 2px 0;
}

blockquote p {
    margin: 0;
    padding: 0;
}

.example {
    font-style: italic;
    padding-left: 1em;
}

a, a:visited {
    color: #003399;
}
